@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto+Mono:wght@500&display=swap");

.gothic-font {
  font-family: "Pathway Gothic One", sans-serif;
}

.roboto-font {
  font-family: "Roboto Mono", monospace;
}

.red-text {
  color: red;
}

.font-12 {
  font-size: 12px;
}

div > .navbar-brand:hover {
  text-decoration: underline;
}

.nav-link-divider {
  width: 104px;
  height: 5px;
}

.ls-md {
  letter-spacing: 2px;
}

.nav-content {
  min-height: calc(100vh - 77px);
  font-size: 40px;
}

.nav-content > div > div > a,
.nav-content > div > div > div > a {
  color: white;
  opacity: 0.85;
}

.nav-content-footer {
  font-size: 16px;
}

.nav-content-footer > div > a:hover {
  text-decoration: underline !important;
}

.article-font-size {
  font-size: 0.95em;
}

.bg-red {
  background-color: red;
}

.border-red {
  border-color: red;
}

.logo-section {
  margin: 100px 0;
}

.brand-logo {
  height: 70px;
  margin: 0 60px;
}

.brand-logo-container {
  animation: slide-out 15s infinite linear;
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.brand-logo-container-reverse {
  animation: slide-in 15s infinite linear;
  transform: translateX(-50%);
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.pfp {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.red-line {
  width: 70px;
  height: 2px;
}

@media screen and (min-width: 768px) {
  .article-font-size {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1400px) {
  .nav-content {
    font-size: 100px;
  }

  .article-font-size {
    font-size: 1.45em;
  }

  .article-container {
    max-width: 800px;
  }

  .got-a-project {
    font-size: 90px !important;
  }

  .got-container {
    height: 80vh !important;
  }

  .footer-link {
    color: white !important;
    text-decoration: none;
  }
}
